<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/home.css">
    <title>Document</title>
</head>
<body>
        
        <nav>
           <button id="Especialidad" type="button">Especialidad</buttoon>
           <button id="Sedes disponibles" type="button">Sedes disponibles</button>
           <button id="Cerrar-sesion" type="butoon">Cerrar sesion</button>
        </nav>
<main>
        <h1>SALUD.SIS</h1>
        <div>
            <nav>
                <form action="">
                    <input placeholder="Nombres" id="nombre" name="nombre" type="text">
                    <input placeholder="Apellidos" id="nombre" name="nombre" type="text">
                    <input placeholder="Numero de Documento" id="nombre" name="nombre" type="text">
                    <button type="button" id="btnFiltrar"> filtrar </button>
                    
              </form>  
            </nav>
            <section class="cards" id="contenido">
          
            </section>
        </div>
       
    </main>

    <script type="module" src="../../view/public/js/scripts.js"></script>


</body>
</html>